*{
    margin: 0px;
    padding: 0px;
    
}
.container{
    height: 100vh;
    width: 100%;
    text-align: center;
}

header{
    background-color: brown;
    height:10vh;

}
section{
    background-color:rgba(0,0,0,0.5);
    height: 10vh;
}

main{
    background-color: coral;
    height: 80vh;

}
.left{
    background-color: blueviolet;
    height: 485px;
    width: 20%;
    float: left;
}
aside{
    background-color:mediumvioletred;
    height: 485px;
    width: 30%;
    float: left;
}
nav{
    background-color:lightseagreen;
    height: 485px;
    width: 30%;
    float: left;
}
.right{
    background-color:deepskyblue;
    height: 485px;
    width: 20%;
    float: left;
}

footer{
    background-color:darkmagenta;
    height: 10vh;
}